---
layout: default
---

<!--<h1>{{ page.title }}</h1> -->
{{ content }}
<p>
  {% for post in site.posts %}
    {% if post.url == page.url %}
      {% assign pOffset = forloop.index0 | minus: 1 %}
      {% assign nOffset = pOffset | plus: 2 %}
      {% if forloop.first == false %}
        {% assign next_post = site.posts[pOffset] %}
      {% endif %}
      {% if forloop.last == false %}
        {% assign previous_post = site.posts[nOffset] %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if previous_post %}
    <a href="{{ previous_post.url | relative_url }}">previous</a>
  {% else %}
    previous
  {% endif %}
   | 
  {% if next_post %}
    <a href="{{ next_post.url }}">next</a>
  {% else %}
    next
  {% endif %}
</p>
